@use "/src/styles/variables";
@use "/src/styles/mixins";

.highlights {
  background-color: rgba(237, 243, 255, 1);
  width: 100%;
  padding: 96px 64px;
  @include mixins.flex-column;
  align-items: center;
  gap: 16px;
  overflow-x: hidden;

  h2 {
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 64px;
    letter-spacing: -3%;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 650px) {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -3%;
    }
  }
}

.highlights__list {
  @include mixins.flex-column;
  gap: 16px;
  position: relative;
}

.highlights__list.two {
  display: grid;
  grid-template-columns: repeat(2, minmax(16rem, 25.57rem));
  gap: 16px;
  position: relative;
}

.highlight__item {
  max-width: 840px;
  background-color: rgba(0, 104, 222, 1);
  position: relative;

  background-image: url("/src/assets/svg/highlight-1-bg.svg");
  background-repeat: no-repeat;
  background-position: left 0 top 0;
  @include mixins.flex-column;
  padding: 40px 48px;
  gap: 32px;
  border-radius: 19.29px;
  border: 6px solid rgba(7, 95, 193, 1);

  .btn {
    position: relative;
    z-index: 2;
  }
}

.highlight__item:nth-of-type(1) {
  border-color: rgba(0, 144, 94, 1);
  background-color: rgba(4, 161, 106, 1);
  background-image: url("/src/assets/svg/highlight-1-bg.svg");
  background-position: right 0 bottom 0;

  .arrow-div {
    background-color: rgba(24, 154, 110, 1);
  }
}

.highlights__list.two {
  .highlight__item:nth-of-type(1) {
    border-color: rgba(19, 176, 187, 1);
    background-color: rgba(14, 198, 211, 1);
    background-image: url("/src/assets/svg/highlight-2-bg.svg");
    background-position: left 0 top 0;
    // padding-left: 200px;

    .arrow-div {
      background-color: rgba(45, 184, 194, 1);
    }
  }

  .highlight__item:nth-of-type(2) {
    border-color: rgba(73, 149, 223, 1);
    background-color: rgba(36, 128, 215, 1);
    background-image: url("/src/assets/svg/highlight-3-bg.svg");
    background-position: left 0 top 0;
    // padding-left: 200px;

    .arrow-div {
      background-color: rgba(91, 159, 226, 1);
    }
  }

  .highlight__item:nth-of-type(3) {
    border-color: rgba(83, 21, 154, 1);
    background-color: rgba(121, 33, 221, 1);
    background-image: url("/src/assets/svg/highlight-4-bg.svg");
    background-position: left 0 top 0;
    // padding-left: 200px;

    .arrow-div {
      background-color: rgba(83, 21, 154, 1);
    }
  }

  .highlight__item:nth-of-type(4) {
    border-color: rgba(164, 59, 164, 1);
    background-color: rgba(183, 73, 183, 1);
    background-image: url("/src/assets/svg/highlight-5-bg.svg");
    background-position: left 0 top 0;
    // padding-left: 200px;

    .arrow-div {
      background-color: rgba(164, 59, 164, 1);
    }
  }
}

.highlight__content {
  @include mixins.flex-column;
  gap: 20px;
  color: rgba(255, 255, 255, 1);
  width: fit-content;

  div {
    @include mixins.flex-row;
    width: fit-content;
    align-items: flex-end;
    gap: 12px;

    h3 {
      font-weight: 600;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: -1%;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0%;
    }
  }
}

.highlight__content-description {
  width: 60%;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.highlight__benefit-container {
  @include mixins.flex-row;
  align-items: flex-start;
  gap: 42px;
}

.highlight__benefit {
  @include mixins.flex-column;
  gap: 16px;
  list-style-type: none;
  color: rgba(255, 255, 255, 1);
  width: fit-content;

  li {
    width: fit-content;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    @include mixins.flex-center;
    justify-content: flex-start;
    gap: 8px;
  }
}

.highlights__list.two {
  .highlight__item {
    padding: 40px;

    .highlight__content {
      div {
        flex-direction: column;
        align-items: flex-start;
      }

      .highlight__content-description {
        width: 100%;
      }
    }
  }
}

.arrow-div {
  background-color: rgba(11, 73, 144, 1);
}
.svg {
  display: none;
}

.conference {
  position: absolute;
  right: -220px;
  top: -100px;
  z-index: 1;
  pointer-events: none;
}

.advert {
  position: absolute;
  right: -180px;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.exhibition {
  position: absolute;
  left: -220px;
  top: 30px;
  z-index: 1;
  pointer-events: none;

  @media screen and (max-width: 1200px) {
    left: -180px;
  }
}

@media screen and (max-width: 990px) {
  .highlights {
    h2 {
      margin-bottom: 40px;
    }
  }
  .conference,
  .advert,
  .exhibition {
    display: none;
  }

  .highlight__item:nth-of-type(2) {
    padding-left: 48px;
  }
}

@media screen and (max-width: 890px) {
  .highlights__list.two {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .highlight__content {
    div {
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }
  }

  .highlight__content-description {
    width: 70%;
  }

  .highlights__list.two {
    .highlight__content-description {
      width: 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  .highlights {
    padding: 64px 20px;

    h2 {
      width: fit-content;
    }
  }

  .highlight__content-description {
    width: 100%;
  }

  .highlights__list {
    width: 100%;
  }

  .highlight__item {
    max-width: unset;
    width: 100%;
    padding: 24px 24px;
    height: max-content;
  }

  .highlights__list.two {
    .highlight__item {
      padding: 24px;
    }
  }

  // .highlight__item:nth-of-type(2) {
  //   padding-left: 24px;
  // }
}
