@use "/src/styles/variables";
@use "/src/styles/mixins";

.past-event {
  @include mixins.flex-column;
  @include mixins.flex-center;
  padding: 80px 0;
  gap: 64px;
  background-color: rgba(237, 243, 255, 1);

  h2 {
    color: rgba(24, 26, 30, 1);
    text-align: center;
    @include mixins.figtree;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -3%;
    text-transform: uppercase;
  }
}

.past-event__images {
  width: 100%;
}

.img-slide {
  width: inherit;
  height: 100%;

  img {
    width: 100%;
    aspect-ratio: 2 / 1.5;
    object-fit: cover;
  }
}

.swiper,
.swiper-wrapper {
  z-index: unset;
}

@media screen and (max-width: 650px) {
  .past-event {
    h2 {
      font-size: 40px;
      line-height: 100%;
    }
  }

  .img-slide:nth-of-type(odd) {
    img {
      aspect-ratio: 2 / 2.1;
      object-fit: cover;
    }
  }
}
