@use "/src/styles/variables";
@use "/src/styles/mixins";

.program-timeline {
  @include mixins.flex-column;
  gap: 64px;
  padding: 120px 0;
  background-color: rgba(242, 246, 255, 1);

  h2 {
    @include mixins.figtree;
    padding-left: 64px;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -3%;
    text-transform: uppercase;
    color: rgba(24, 26, 30, 1);
  }
}

.program-timeline__container {
  @include mixins.flex-row;
}

.program-timeline__item {
  padding: 32px;
  @include mixins.flex-column;
  align-items: flex-start;
  gap: 150px;
  border: 1px solid rgba(143, 143, 143, 1);
  border-right: 0;
  border-style: dashed;

  &:first-of-type {
    border-left: 0;
  }
}

.program-timeline__content {
  @include mixins.flex-column;
  gap: 10px;
  align-items: flex-start;

  p {
    @include mixins.figtree;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.5%;
    color: rgba(24, 26, 30, 1);

    &:first-of-type {
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -3%;
    }
  }
}

@media screen and (max-width: 850px) {
  .program-timeline {
    h2 {
      padding-left: 40px;
    }
  }
}

@media screen and (max-width: 750px) {
  .program-timeline__container {
    flex-direction: column;
  }

  .program-timeline__item {
    border-left: 0;
    border-bottom: 0;

    &:last-of-type {
      border-bottom: 1px solid rgba(143, 143, 143, 1);
      border-bottom-style: dashed;
    }
  }
}

@media screen and (max-width: 650px) {
  .program-timeline {
    padding: 64px 0;

    h2 {
      font-size: 40px;
      line-height: 44px;
    }
  }
  .program-timeline__content {
    p:nth-of-type(2) {
      font-size: 13px;
    }
  }

  .program-timeline__item {
    padding: 32px 24px;
  }
}
