@use "/src/styles/variables";
@use "/src/styles/mixins";

.rapporteur {
  @include mixins.flex-center;
  background-color: rgba(242, 246, 255, 1);
  width: 100%;
  padding: 80px 100px;
  gap: 64px;
}

.rapporteur-header {
  width: 50%;

  h2 {
    @include mixins.h1;
    font-weight: 800;
    letter-spacing: -3%;
    text-transform: uppercase;
  }
}

.rapporteur-item__wrapper {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, minmax(15.5rem, 1fr));
  gap: 24px;
}

.rapporteur-item {
  @include mixins.flex-column;
  gap: 20px;
}

.rapporteur-item__image {
  min-height: 18rem;
  aspect-ratio: 1 / 1.1;
  object-fit: cover;
}

.rapporteur-item__desc {
  @include mixins.flex-column;
  gap: 8px;
  align-items: flex-start;

  h5 {
    @include mixins.h5;
    font-size: 20px;
    letter-spacing: -2%;
    color: rgba(24, 26, 30, 1);
    font-weight: 500;
  }

  p {
    @include mixins.figtree;
    @include mixins.p1;
    font-size: 14px;
    font-weight: 300;
    color: rgba(78, 83, 122, 1);
    letter-spacing: 0%;
  }
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1240px) {
  .rapporteur {
    padding: 80px 70px;
  }

  .rapporteur-item__wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .rapporteur {
    padding: 80px 5%;
  }
}

@media screen and (max-width: 1150px) {
  .rapporteur {
    gap: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .rapporteur {
    flex-direction: column;
    gap: 40px;
    padding: 80px 20px;
  }

  .rapporteur-header {
    width: 50%;
    text-align: center;
  }

  .rapporteur-item__wrapper {
    grid-template-columns: repeat(2, minmax(16rem, 16rem));
    width: fit-content;
  }

  .rapporteur-item__image {
    min-height: unset;
    aspect-ratio: 1 / 1.2;
  }
}

@media screen and (max-width: 850px) {
  .rapporteur-header {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .rapporteur-header {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .rapporteur {
    padding: 64px 20px;
  }

  .rapporteur-item__wrapper {
    grid-template-columns: repeat(2, minmax(15.5rem, 1fr));
  }
}

@media screen and (max-width: 550px) {
  .rapporteur-item__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

@media screen and (max-width: 400px) {
  .rapporteur-item__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
}

@media screen and (max-width: 300px) {
  .rapporteur-item__wrapper {
    @include mixins.flex-column;
    gap: 24px;
  }

  .rapporteur-item {
    width: 100%;
  }
}
