@use "/src/styles/variables";
@use "/src/styles/mixins";

.sponsor {
  padding: 0 20px;
}

.sponsor__container {
  padding: 170px 10%;
  @include mixins.flex-center;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  background-color: rgba(0, 14, 30, 1);
  background-image: url("/src/assets/images/graph-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sponsor__content {
  text-align: center;
  @include mixins.flex-center;
  @include mixins.figtree;
  flex-direction: column;
  gap: 24px;
  color: variables.$white;

  h3 {
    font-weight: 800;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -3%;
    text-transform: uppercase;
  }

  p {
    width: 40%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1%;
  }
}

@media screen and (max-width: 920px) {
  .sponsor__content {
    p {
      width: 60%;
    }
  }
}

@media screen and (max-width: 650px) {
  .sponsor {
    padding: 0;
  }

  .sponsor__content {
    gap: 20px;

    h3 {
      font-size: 40px;
      line-height: 100%;
    }
    p {
      width: 70%;
    }
  }
}

@media screen and (max-width: 550px) {
  .sponsor__content {
    p {
      width: 80%;
    }
  }
}
