@use "/src/styles/variables";
@use "/src/styles/mixins";

.whoAttend {
  @include mixins.flex-row;
  gap: 125px;
  width: 100%;
  background: rgba(38, 48, 63, 1);
  @include mixins.padding;
  padding-top: 96px;
  padding-bottom: 96px;
}

.whoAttend__content {
  width: 50%;
  height: fit-content;
}

.whoAttend__description {
  @include mixins.flex-column;

  p {
    @include mixins.figtree;
    border-bottom: 1px solid rgba(188, 188, 188, 0.22);
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -3%;
    color: variables.$white;
  }
}

.whoAttend__left {
  width: 50%;
  @include mixins.figtree;
  height: fit-content;

  h2 {
    color: variables.$white;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -3%;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1024px) {
  .whoAttend__left {
    h2 {
      font-size: 50px;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 950px) {
  .whoAttend {
    flex-direction: column;
    gap: 32px;
  }

  .whoAttend__left {
    width: 70%;

    h2 {
      font-size: 64px;
      line-height: 64px;
    }
  }

  .whoAttend__content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .whoAttend__left {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .whoAttend {
    padding: 64px 20px;
  }

  .whoAttend__left {
    width: 100%;

    h2 {
      font-size: 44px;
      line-height: 44px;
    }
  }

  .whoAttend__description {
    p {
      font-size: 18px;
    }
  }
}
